@media (min-width:768px) {
  main{
    grid-template-columns: auto 300px 1fr auto;
  }
  section#ficha{
    grid-column:2 / 3;
    height: fit-content;
    position: sticky;
    top: 64px;
  }
  section#detalhes{
    grid-column: 3 / 4;
  }
 #skill-container{
  
  grid-template-columns: auto auto;

}
  .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .projeto-info{
    max-width: 80%;
  }
  .foto{
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}
